/* PdfGeneratingDialog Styles */

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.spinner {
  color: var(--color-secondary);
}

.title {
  font-weight: 700;
  color: var(--color-text);
  font-size: 1.5rem;
}

.subtitle {
  color: var(--color-text-secondary);
  font-size: 1rem;
}
